
#App {
    width: 500px;
    margin: auto;
    background-color: #191919;
  }
  
  .App_cont {
    margin: auto;
    background-color: #191919;
    height: 87.6vh;
    font-family: sans-serif;
    border: #fedb39 solid 3px;
    display: flex;
  }
  
  .appInput {
    width: 99%;
    height: 100px;
    font-size: 40px;
    text-align: end;
    border: 3px solid #555;
    background-color: #ddd;
  }
  
  .appButton {
    width: 125px;
    height: 100px;
  }
  
  .op {
    background-color: #fedb39;
  }
  
  .appButton:nth-child(18) {
    width: 250px;
  }